<!DOCTYPE html>
<html lang="zxx" ng-app="100gmInfo">

<head>
	<title>100gm.info</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="100gm 100grams info food label nutrition panel fact facts information ingredient list allergen allergic allergy" />
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!--
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124026163-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-124026163-1');
	</script>
    -->

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	
	<script src="js/angular.js"></script>
	<script src="index.js"></script>
	
	<!--//tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--pop-up-box-->
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
</head>

<body>

    <!-- Single Product Modal -->
    <div class="modal fade" id="SingleProdInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Zeeba Premium Basmati Rice - 5 KG</h3>
    		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>This is a <label>Vegetarian</label> product.</p>
          </div>
          <div class="modal-body">
          <div class="col-md-5 single-right-left ">
            	<div class="grid images_3_of_2">
            		<div class="flexslider">
            			<div class="thumb-image">
            				<img src="images/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> 
            			</div>
            			<div class="clearfix"></div>
            		</div>
            	</div>
            </div>
            <div class="col-md-7 single-right-left simpleCart_shelfItem">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#nutri">Nutrition</a></li>
                  <li><a data-toggle="tab" href="#ingre">Ingredient</a></li>
                  <li><a data-toggle="tab" href="#aller">Allergen</a></li>
                </ul>
                
                <div class="tab-content">
                  <div id="nutri" class="tab-pane fade in active">
                    <div class="product-single-w3l">
            			<table class="table">
            			<tr><th></th><th>Per 100g</th></tr>
            			<tr><td>Energy</td><td>512.2kcal</td></tr>
            			<tr><td>Protein</td><td>4.8g</td></tr>
            			<tr><td>Carbohydrate</td><td>61.0g</td></tr>
            			<tr><td>Sugar</td><td>47.0g</td></tr>
            			<tr><td>Fat</td><td>28.0g</td></tr>
            			<tr><td>Saturated Fat</td><td>15.0g</td></tr>
            			<tr><td>Trans Fat</td><td>0.5g</td></tr>
            			</table>
        			</div>
                  </div>
                  <div id="ingre" class="tab-pane fade">
                    <div class="product-single-w3l">
            			<table class="table">
            			<tr><td>Sugar</td></tr>
            			<tr><td>Vegetable Oil</td></tr>
            			<tr><td>Hydrogenerated Vegetable Oil</td></tr>
            			<tr><td>Gram Flour</td></tr>
            			<tr><td>Refined Wheat Flour</td></tr>
            			<tr><td>Almonds</td></tr>
            			<tr><td>Pistachios</td></tr>
            			<tr><td>Cardamom Powder</td></tr>
            			<tr><td>Rose Water</td></tr>
            			</table>
        			 </div>   
    			    </div>
        			<div id="aller" class="tab-pane fade">
                        <div class="product-single-w3l">
                			<table class="table">
                			<tr><td>Gluten</td></tr>
                			<tr><td>Nuts</td></tr>
                			</table>
            			</div>
            		</div>
                  </div>
			</div>
			<div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Single Product Modal-->
    
	<!-- top-header -->
	<div class="header-most-top">
		<p>Welcome to 100gm.info</p>
	</div>
	<!-- //top-header -->
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<div class="col-md-4 logo_agile">
				<h1>
					<a href="index.html">
						<span>100</span>gm<span>.</span>info
						<img src="images/logo1.jpg" alt=" ">
					</a>
				</h1>
			</div>
			<div class="col-md-8 header">
				<!-- search -->
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Find your ideal Nutrition and Ingredient..." required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						</button>
					</form>
				</div>
				<!-- //search -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- tittle heading -->
	<h3 class="tittle-w3l">
		<span class="heading-style">
			<i></i>
			<i></i>
			<i></i>
		</span>
	</h3>
	<!-- //tittle heading -->
	
	<!-- top Products -->
	<div class="ads-grid">
		<div class="container">
			<div class="agileinfo-ads-display col-md-12">
				<div class="wrapper" ng-controller="SectionCtrl as Sect">
					<!-- section -->
					<div class="product-sec1" ng-repeat="section in Sect.sections">
						<h3 class="heading-tittle">{{section.title}}</h3>
						<div class="col-md-4 product-men" data-toggle="modal" data-target="#SingleProdInfoModal" ng-repeat="item in section.items">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img ng-src="images/{{item.image}}" alt="">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<div class="link-product-add-cart">Quick View</div>
										</div>
									</div>
									<span class="product-new-top">New</span>
								</div>
								<div class="item-info-product ">
									<h4>
										<div>{{item.title}}</div>
									</h4>

								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- // section -->
				</div>
			</div>
		</div>
	</div>
	<!-- //top products -->

	<!-- tittle heading -->
	<h3 class="tittle-w3l">
		<span class="heading-style">
			<i></i>
			<i></i>
			<i></i>
		</span>
	</h3>
	<!-- //tittle heading -->

	<!-- special offers -->
	<div class="featured-section" id="projects">
		<div class="container">
			<div class="content-bottom-in">
				<ul id="flexiselDemo1" ng-controller="SliderCtrl as Slide">
					<li data-toggle="modal" data-target="#SingleProdInfoModal" ng-repeat="slider in Slide.sliders">
						<div class="w3l-specilamk">
							<div class="speioffer-agile">
								<img ng-src="images/{{slider.image}}" alt="">
							</div>
							<div class="product-name-w3l">
								<h4>{{slider.title}}</h4>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //special offers -->
	<!-- newsletter -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="col-xs-8 agile-leftmk">
				<h2>Sign-up for our newsletters</h2>
				<p></p>
				<form action="#" method="post">
					<input type="email" placeholder="E-mail" name="email" required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="col-xs-1 newsform-w3l">
				<p></p>
				<span class="fa fa-envelope-o" aria-hidden="true"></span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
	<footer>
		<div class="container">
			
			<!-- footer third section -->
			<div class="footer-info w3-agileits-info">
				<!-- footer categories -->
				<div class="col-sm-3 address-right">
					<div class="footer-grids">
						<h3>Categories</h3>
						<ul ng-controller="CategoryCtrl as Cat">
							<li ng-repeat="cat in Cat.cats">
								<a href="product.html">{{cat.title}}</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- //footer categories -->
				<!-- quick links -->
				<div class="col-sm-3 address-right">
					<div class="footer-grids">
						<h3>Quick Links</h3>
						<ul>
							<li>
								<a href="about.html">About Us</a>
							</li>
							<li>
								<a href="contact.html">Contact Us</a>
							</li>
							<li>
								<a href="help.html">Help</a>
							</li>
							<li>
								<a href="faqs.html">Faqs</a>
							</li>
							<li>
								<a href="terms.html">Terms of use</a>
							</li>
							<li>
								<a href="privacy.html">Privacy Policy</a>
							</li>
						</ul>
					</div>
                </div>
				<!-- //quick links -->
				<!-- contact -->
				<div class="col-sm-3 address-right">
					<div class="footer-grids">
						<h3>Get in Touch</h3>
						<ul>
							<li>
								<i class="fa fa-map-marker"></i> India </li>
							<li>
								<i class="fa fa-mobile"></i> 9876543210 </li>
							<li>
								<i class="fa fa-phone"></i> +91 012 2345 </li>
							<li>
								<i class="fa fa-envelope-o"></i>
								<a href="mailto:admin@100gm.info"> admin@100gm.info</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- //contact -->
				<!-- social -->
				<div class="col-sm-3 footer-grids  w3l-socialmk">
					<h3>Follow Us on</h3>
					<div class="social">
						<ul>
							<li>
								<a class="icon fb" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="icon tw" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="icon gp" href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="agileits_app-devices">
						<h5>Download the App</h5>
						<a href="#">
							<img src="images/1.png" alt="">
						</a>
						<a href="#">
							<img src="images/2.png" alt="">
						</a>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //social -->
				<div class="clearfix"></div>
			</div>
			<!-- //footer third section -->
			
			<!-- footer fourth section (text) -->
			<div class="footer-info agile-sometext">
				<!-- brands -->
				<div class="sub-some">
					<h5>Popular Brands</h5>
					<ul ng-controller="BrandCtrl as Brand">
						<li ng-repeat="brand in Brand.brands">
							<a href="product.html">{{brand.title}}</a>
						</li>
					</ul>
				</div>
				<!-- //brands -->
			</div>
			<!-- //footer fourth section (text) -->
			
		</div>
	</footer>
	<!-- //footer -->

	<!-- copyright -->
	<div class="copy-right">
		<div class="container">
			<p>© 2018 100gm.info. All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a>
			</p>
		</div>
	</div>
	<!-- //copyright -->

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	
	<!-- flexisel (for special offers) -->
	<script src="js/jquery.flexisel.js"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

	<!-- start-smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<script src="js/bootstrap.js"></script>


</body>

</html>